.page-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-height: 100dvh;
    width: 100%;
}

.page-wrapper > *{
    width: 100%;
}



